## `go` skill

You **MUST** use `goimports -w` to update Go import blocks.

You SHOULD use `go doc -u -src` over the Go standard
library and this project's Go files before `grep` or
`rg`.

You SHOULD NOT ignore errors in Go programs.

You SHOULD use `Benchmark*` idioms to profile the
cost or complexity of a subroutine: `-benchmem`
and `-cpu=1` are useful flags.

You SHOULD NOT write comments.
